<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">CONTACTANOS</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-6">
      <form>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre completo</label>
          <input type="text" class="form-control" id="nombre">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Telefono</label>
          <input type="number" class="form-control" id="telefono">
        </div>
        <div class="mb-3">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="ciudad">
        </div>

        <div class="mb-3 form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Escribe aqui...</label>
        </div>
        <button type="button" class="btn btn-dark">Enviar</button>
      </form>
    </div>
    <div class="col-lg-6 text-center">
      <img src="./assets/img/logo-sin-fondo.png" alt="" class="w-75">
    </div>
  </div>
</div>
