<div class="container my-5">
  <div class="row table-responsive">
    <h2 class="text-center">TABLA DE POSICIONES</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">POSICION</th>
          <th scope="col">EQUIPO</th>
          <th scope="col">PUNTOS</th>
          <th scope="col">PJ</th>
          <th scope="col">PG</th>
          <th scope="col">PE</th>
          <th scope="col">PP</th>
          <th scope="col">GF</th>
          <th scope="col">GC</th>
          <th scope="col">DG</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>REAL SOCIEDAD</td>
          <td>12</td>
          <td>4</td>
          <td>4</td>
          <td>0</td>
          <td>0</td>
          <td>19</td>
          <td>10</td>
          <td>+9</td>
        </tr>
        <tr>
          <td>2</td>
          <td>REAL MADRID</td>
          <td>10</td>
          <td>4</td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>19</td>
          <td>10</td>
          <td>+9</td>
        </tr>
        <tr>
          <td>3</td>
          <td>SEVILLA FC</td>
          <td>10</td>
          <td>4</td>
          <td>3</td>
          <td>1</td>
          <td>0</td>
          <td>6</td>
          <td>3</td>
          <td>+3</td>
        </tr>
        <tr>
          <td>4</td>
          <td>ATLÉTICO DE MADRID</td>
          <td>9</td>
          <td>4</td>
          <td>3</td>
          <td>0</td>
          <td>1</td>
          <td>20</td>
          <td>8</td>
          <td>+12</td>
        </tr>
        <tr>
          <td>5</td>
          <td>REAL BETIS</td>
          <td>9</td>
          <td>4</td>
          <td>3</td>
          <td>0</td>
          <td>1</td>
          <td>12</td>
          <td>10</td>
          <td>+2</td>
        </tr>
        <tr>
          <td>6</td>
          <td>RAYO VALLECANO</td>
          <td>7</td>
          <td>4</td>
          <td>2</td>
          <td>1</td>
          <td>0</td>
          <td>6</td>
          <td>1</td>
          <td>+5</td>
        </tr>
        <tr>
          <td>7</td>
          <td>CA OSASUNA</td>
          <td>6</td>
          <td>4</td>
          <td>2</td>
          <td>0</td>
          <td>2</td>
          <td>15</td>
          <td>10</td>
          <td>+5</td>
        </tr>
        <tr>
          <td>8</td>
          <td>ATHLETIC CLUB</td>
          <td>4</td>
          <td>4</td>
          <td>1</td>
          <td>1</td>
          <td>2</td>
          <td>19</td>
          <td>10</td>
          <td>+9</td>
        </tr>
        <tr>
          <td>9</td>
          <td>FC BARCELONA</td>
          <td>3</td>
          <td>4</td>
          <td>1</td>
          <td>0</td>
          <td>3</td>
          <td>10</td>
          <td>12</td>
          <td>-2</td>
        </tr>
        <tr>
          <td>10</td>
          <td>VALENCIA CF</td>
          <td>0</td>
          <td>4</td>
          <td>0</td>
          <td>0</td>
          <td>4</td>
          <td>0</td>
          <td>10</td>
          <td>-10</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-4 mb-3">
    <div class="col-12">
      <h2 class="text-center">IMAGENES DESTACADAS DE LA LIGA</h2>
    </div>
  </div>
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card h-100">
          <img src="./assets/img/galeria-1.jpg" class="card-img-top w-100 h-100">
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
          <img src="./assets/img/galeria-2.jpg" class="card-img-top w-100 h-100">
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
          <img src="./assets/img/galeria-3.jpg" class="card-img-top w-100 h-100">
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
          <img src="./assets/img/galeria-4.jpg" class="card-img-top w-100 h-100">
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
          <img src="./assets/img/galeria-5.jpg" class="card-img-top w-100 h-100">
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
          <img src="./assets/img/galeria-6.jpg" class="card-img-top w-100 h-100">
      </div>
    </div>
  </div>
</div><br>
